body{
 /* background-color:#911e42; Вишневый цвет*/ 
 background-color: #fff;
}

h2 {
color: #911E42;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

h3 {
color: #911E42;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

h4{
  
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;  
}

ul{
text-align: right;
background: #eee;
}

pre {

color: #911E42;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.header-logo-ascii{
  text-decoration: none;
  text-align: center;
  vertical-align: sub;
  
}

.inform{
 text-align: right; 
  
}