body{
 /* background-color:#911e42; Вишневый цвет*/ 
  background-color: #eee;
  text-align: center; 
  font: 12px/1 monospace;
  
  color: #777;

}

h1 {
  text-align: center;  
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;  
}

h2 {
  text-align: center;  
  color: #911e42;
 }
h5 {
  
  color: black;
 }
 
.updates {
  text-align: left;  
  color: #911e42;
  padding: 15px;
  }
  
.inform {
  text-align: left;
   
}
  
.hyper {
  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border: 2px dashed #911E42;
  border-radius: 15px 15px 0px 0px;
  padding-left: 7px;
  padding-right: 7px;
}

pre {

  color: #911e42;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; 
 
  
}

canvas {
  -webkit-box-shadow: 8px 8px 36px 21px rgba(0,0,0,0.24);
  -moz-box-shadow: 8px 8px 36px 21px rgba(0,0,0,0.24);
  box-shadow: 8px 8px 36px 21px rgba(0,0,0,0.24);
  
}



.footer {
  color: #911e42;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; 
 
}

/* ВСЕ ЧТО НИЖЕ - УДАЛИТЬ */

div { 
  display: inline-block;
  position: relative; 
  margin: 20px 16px 20px 20px; 
  width: 150px; 
  height: 150px; 
  background:white; 
  box-shadow: 0 0 0 5px rgba(0,0,0,.1); 
  transition:.2s; 
}
div:after {
  content: attr(class);
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 0 6px;
}
i {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  background: #F6AC31;
  animation: move 2s infinite;
}
@keyframes move {
  from {
    left: 0;
    bottom: 0; 
  }
  to { 
    left: 145px; 
    bottom: 145px;
  }  
}
.linear i {
  animation-timing-function: linear; 
}
.ease i { 
  animation-timing-function: ease; 
}
.ease-in i { 
  animation-timing-function: ease-in; 
}
.ease-in-out i { 
  animation-timing-function: ease-in-out; 
}
.ease-out i { 
  animation-timing-function: ease-out; 
}
.cubic-bezier-1 i { 
  animation-timing-function: cubic-bezier(.8,1.5,.2,-1); 
}
.cubic-bezier-1:after {content:"cubic-bezier (.8,1.5,.2,-1)"}
.cubic-bezier-2:after {content:"cubic-bezier (.47,-.44,.49,1.46)"}
.cubic-bezier-3:after {content:"cubic-bezier (1,0,0,.5)"}
.cubic-bezier-4:after{ 
  content: "cubic-bezier (.1,.7,1,1)"; 
}
.cubic-bezier-2 i { 
  animation-timing-function: cubic-bezier(.47,-.44,.49,1.46); 
}
.cubic-bezier-3 i { 
  animation-timing-function: cubic-bezier(1,0,0,.5); 
}
.cubic-bezier-4 i { 
  animation-timing-function: cubic-bezier( .1, .7, 1, .1); 
}
.steps i { 
  animation-timing-function: steps(10,end);
}
.steps:after { 
  content: "steps(10,end)"; 
}
i:nth-child(2) {animation-delay:.1s;}
i:nth-child(3) {animation-delay:.2s;}
i:nth-child(4) {animation-delay:.3s;}
i:nth-child(5) {animation-delay:.4s;}
i:nth-child(6) {animation-delay:.5s;}
i:nth-child(7) {animation-delay:.6s;}
i:nth-child(8) {animation-delay:.7s;}
i:nth-child(9) {animation-delay:.8s;}
i:nth-child(10){animation-delay:.9s;}

